* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  height: 100vh;
  background-color: #090b1a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.component {
  height: 40rem;
  width: 90rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  border-radius: 9px;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-box {
  position: relative;
}

.img-box::after {
  content: "";
  height: 100%;
  width: 100%;
  background: hsla(277, 64%, 61%, 0.75);
  position: absolute;
  top: 0;
  left: 0;
}

.card-details {
  width: 100%;
  background-color: #1b1938;
  padding: 7.2rem 4.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-primary {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.insights {
  color: #aa5cdb;
}

.heading-description {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.heading-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.data-number {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

.data-name {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .container {
    height: auto;
    padding: 4.8rem 2.4rem;
  }
  .component {
    height: 85rem;
    width: 40rem;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .card-details {
    padding: 4.8rem 3.6rem;
    text-align: center;
  }

  .heading-data {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2.4rem;
  }

  .data {
    gap: 0.6rem;
  }

  .img-box {
    grid-row: 1;
  }
}
